<ion-view cache-view="false" view-title="Map">
  <ion-content>
    <ui-gmap-google-map ng-if="map.center"
    	center="map.center"
		zoom="map.zoom"
		draggable="true"
		data-tap-disabled="true">

	    <ui-gmap-markers models="me" coords="'coords'" idKey="'id'" icon="'icon'"
		></ui-gmap-markers>
    </ui-gmap-google-map>
<!--
	<div map-lazy-load="https://maps.google.com/maps/api/js" style="width:600px; height: 400px"
	  map-lazy-load-params="{{googleMapsUrl}}">
	  <ng-map style="display:block; width: 100%; height:100%;">
	   	<marker position="{{map.center.latitude}}" />
	  </ng-map>
	</div>
-->
  </ion-content>
</ion-view>
