<ion-view cache-view="false" view-title="Bike Taken">
  <ion-content>
    <ui-gmap-google-map center="map.center"
			zoom="map.zoom"
			draggable="true"
			data-tap-disabled="true">

      <ui-gmap-markers models="me" coords="'coords'"
		      idKey="'id'" icon="'icon'"
		      ></ui-gmap-markers>
      
	<ui-gmap-markers
	   models="stations"
	   coords="'long_geolocation'"
	   icon="'icon'"
	   ></ui-gmap-markers>
      
	<ui-gmap-markers
	   models="destinations"
	   coords="'long_geolocation'"
	   dorebuildall="true"
	   icon="'icon'"
	   ></ui-gmap-markers>
    
		<ui-gmap-polyline path="route_points" fit="true" stroke="stroke">
		</ui-gmap-polyline>

    </ui-gmap-google-map>
  </ion-content>
</ion-view>
